<footer class="footer">
    <!-- <div class="container">
        <div class="row">
            <div class="col-md-4 col-lg-4 contact-box pt-1 d-md-block d-lg-flex d-flex">
                <div class="contact-box-icon"></div>
                <div class="contact-box-info">
                    <a href="" class="contact-box-info-title">title goes here</a>
                    <p class="contact-box-info-subtitle">subtitle goes here</p>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 contact-box pt-1 d-md-block d-lg-flex d-flex">
                <div class="contact-box-icon"></div>
                <div class="contact-box-info">
                    <a href="" class="contact-box-info-title">title goes here</a>
                    <p class="contact-box-info-subtitle">subtitle goes here</p>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 contact-box pt-1 d-md-block d-lg-flex d-flex">
                <div class="contact-box-icon"></div>
                <div class="contact-box-info">
                    <a href="" class="contact-box-info-title">title goes here</a>
                    <p class="contact-box-info-subtitle">subtitle goes here</p>
                </div>
            </div>
        </div>
    </div> -->
    <div class="footer-social-media" style="background-color: #212121;">
        <div class="container">
            <div class="row py-4 text-center text-white">
                <div class="col-lg-5 col-md-6 mb-4 mb-md-0">
                    follow us on social media
                </div>
                <div class="col-lg-7 col-md-6">
                    <a href="https://www.facebook.com/MenuCodi-App-112785037995126/"><i class="fab fa-facebook"></i></a>
                    <a href="https://twitter.com/app_menucodi"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.youtube.com/channel/UCDCBq_42A-Em1VbVHJxW6ww"><i class="fab fa-youtube"></i></a>
                    <a href="https://www.instagram.com/codimenuapp/"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row text-white justify-content-center mt-3 pb-3">
            <div class="col-12 col-sm-6 col-lg-6 mx-auto">
                <h5 class="text-capitalize fw-bold">CODI Developers</h5>
                <hr class="bg-white d-inline-block mb-4" style="width: 60px; height: 2px;">
                <ul class="list-inline company-list">
                    <li><a href='https://www.freepik.es/vectores/tecnologia'>Tech vector created by pikisuperstar - www.freepik.es</a></li>
                    <li><a href='https://www.freepik.es/vectores/negocios'>Business vector created by pikisuperstar - www.freepik.es</a></li>
                    <li><a href='https://www.freepik.com/vectors/background'>Background vector created by rawpixel.com - www.freepik.com</a></li>
                </ul>
            </div>
            <div class="col-12 col-sm-6 col-lg-2 mb-4 mx-auto">
                <h5 class="text-capitalize fw-bold">Useful links</h5>
                <hr class="bg-white d-inline-block mb-4" style="width: 60px; height: 2px;">
                <ul class="list-inline company-list">
                    <li><a href="https://sites.google.com/view/digitalmenuprivacypolicy">Privacy Policy</a></li>
                    <li><a href="https://sites.google.com/view/digitalmenucookies">Cookies Policy</a></li>
                    <li><a href="https://play.google.com/store/apps/details?id=com.codi.digitalmenu" target="_blank" rel="noopener noreferrer">Google Play</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-bottom pt-5 pb-5">
        <div class="container">
            <div class="row text-center text-white">
                <div class="col-12">
                    <div class="footer-bottom-copyright">
                        &COPY; Copyright 2022 <a href="https://play.google.com/store/apps/details?id=com.codi.digitalmenu" target="_blank" rel="noopener noreferrer">Digital Menu App</a> | Created by <a href="#">CODI Developers</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<a href="#carouselExampleIndicators" class="shadow btn-primary rounded-circle back-to-top" id="myScrollBtn">
    <i class="fas fa-chevron-up"></i>
</a>