.menu {
    background-color: var(--navbar-scroll);
    transition: background-color 1s ease;
    color: var(--navbar-scroll-text);
    -webkit-box-shadow: var(--navbar-scroll-shadow);
    box-shadow: var(--navbar-scroll-shadow);
    li {
        padding: 0 0.7rem;
        a {
            color: #fff !important;
            text-transform: capitalize;
            font-weight: 600;
            position: relative;
        }
        a::before {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            right: 0;
            height: 1px;
            background-color: #fff;
            transition: all 0.5s ease;
            transform: scale(0);
        }
        a.active::before,
        a:hover::before {
            transform: scale(1);
        }
    }
}

.btn-gradient {
    &:hover {
        @mixin gradient {
            background: linear-gradient(to right, rgba(#66CC98, 0.95), rgb(#1DB1BA, 0.95));
        }
        color: #fff;
    }
}

.logo {
    height: 2rem;
}

@media(max-width: 991px) {
    .navbar-nav {
        background-color: #66CC98;
        box-shadow: var(--navbar-responsive-shadow);
        .nav-item {
            margin: 0;
            padding: 5px 15px;
        }
    }
}

.navbar-toggler {
    margin-bottom: 1rem;
}