<section id="video-tutorial" class="video-tutorial">
    <div class="container">
        <div class="row text-center">
            <h1 class="display-3 fw-bold mb-3 mt-3">How it works?</h1>
            <div class="heading-line mb-1"></div>
            <div class="col-lg-6 mx-auto">
            </div>
            <div class="overflow-hidden">
                <div class="container px-5 video-box">
                    <img src="../../../assets/images/play-video.webp" class="img-fluid rounded-3 mb-4 glightbox" width="500" height="500" loading="lazy">
                    <a href="#" class="position-absolute top-50 start-50 translate-middle glightbox">
                        <span>
                          <i class="fas fa-play-circle"></i>
                      </span>
                        <span class="border-animation border-animation-border-1"></span>
                        <span class="border-animation border-animation-border-2"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>