<section id="video-tutorial" class="video-tutorial">
    <div class="container">
        <div class="row text-center">
            <h1 class="display-3 fw-bold mb-3 mt-3">How it works?</h1>
            <div class="heading-line mb-1"></div>
            <!-- <div class="justify-content-center">
                <video class="video-fluid z-depth-1 mb-3" loop controls muted>
                    <source src="../../../assets/video/pexels-lisa-7934113.mp4" type="video/mp4" />
                </video>
            </div> -->
            <div class="col-lg-6 mx-auto">
                <!-- <p class="lead mb-4">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p> -->
                <!-- <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
                  <button type="button" class="btn btn-primary btn-lg px-4 me-sm-3">Primary button</button>
                  <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button>
                </div> -->
              </div>
              <div class="overflow-hidden">
                <div class="container px-5 video-box">
                  <img src="../../../assets/images/play-video.png" class="img-fluid rounded-3 mb-4 glightbox" width="500" height="500" loading="lazy">
                  <a href="#" class="position-absolute top-50 start-50 translate-middle glightbox">
                      <span>
                          <i class="fas fa-play-circle"></i>
                      </span>
                      <span class="border-animation border-animation-border-1"></span>
                      <span class="border-animation border-animation-border-2"></span>
                  </a>
                </div>
              </div>
        </div>
    </div>
</section>

