<section id="carouselExampleIndicators" class="carousel slide intro-section" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
      aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
      aria-label="Slide 3"></button>
  </div>
  <div class="container">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row align-items-center text-white">
          <div class="col-md-6 intros text-start">
            <h1 class="display-2">
              <span class="display-2--intro">App Intro</span>
              <span class="display-2--description lh-base">
                this is a DigitalMenuApp that make r
                this is a DigitalMenuApp that make r
                this is a DigitalMenuApp
              </span>
            </h1>
             <button type="button" class="rounded-pill btn-rounded">Get it Now
              <span>
                <i class="fab fa-google-play"></i>
              </span>
            </button>
          </div>
          <div class="col-md-6 intros text-end">
            <div>
              <img src="../../../assets/images/01 (34).jpg" class="d-block w-100 image-fluid rounded" alt="...">
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="carousel-item">
        <div class="row align-items-center text-white">
          <div class="col-6 col-md-6 intros text-start">
            <h1 class="display-2">
              <span class="display-2--intro">App Intro</span>
              <span class="display-2--description lh-base">
                this is a DigitalMenuApp that make r
                this is a DigitalMenuApp that make r
                this is a DigitalMenuApp
              </span>
            </h1>
          </div>
          <div class="col-6 col-md-6 intros">
            <div>
              <img src="../../../assets/images/1 (23).jpg" class="d-block w-100 image-fluid" alt="...">
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row align-items-center text-white">
          <div class="col-md-6 intros text-start">
            <h1 class="display-2">
              <span class="display-2--intro">App Intro</span>
              <span class="display-2--description lh-base">
                this is a DigitalMenuApp that make r
                this is a DigitalMenuApp that make r
                this is a DigitalMenuApp
              </span>
            </h1>
          </div>
          <div class="col-md-6 intros">
            <div>
              <img src="../../../assets/images/1 (24).jpg" class="d-block w-100 image-fluid" alt="...">
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</section>

<!-- <section id="home" class="intro-section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6 intros">
          <h1 class="display-2">
            <span class="display-2--intro">Hey! I'm Daniel</span>
            <span class="display-2--description">
              this is multi-purpose responsive layout created with boostrap v5.
              (here you can place your description text)
            </span>
          </h1>
      </div>
      <div class="col-md-6">Hola</div>
    </div>
  </div>
</section> -->