<section id="features" class="features">
    <div class="container">
        <div class="row text-center">
            <h1 class="display-3 fw-bold" data-aos="fade-down" data-aos-offset="50">Feature packed</h1>
            <div class="heading-line mb-1"></div>
        </div>
        <!-- </div> -->
        <!-- <div class="container"> -->
        <div class="row pt-2 pb-2 mt-0 mb-3">
            <div class="col-md-6 border-right">
                <div class="bg-white p-3">
                    <h2 class="fw-bold text-capitalize text-center" data-aos="fade-right" data-aos-offset="100">
                        Our Features Range from Menu Management To Reservations Management and more
                    </h2>
                </div>
            </div>
            <div class="col-md-6">
                <div class="bg-white p-4 text-start">
                    <div class="feature-packed-ul" data-aos="fade-right" data-aos-offset="100">
                        <ul>
                            <li><i class="fas fa-check-circle"></i> Multiple QR templates </li>
                            <li><i class="fas fa-check-circle"></i> Easy to manage </li>
                            <li><i class="fas fa-check-circle"></i> Multiple Menu styles </li>
                            <li><i class="fas fa-check-circle"></i> Multi-currency </li>
                            <li><i class="fas fa-check-circle"></i> 7 days risk free trial on annual plan </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 features mt-4">
                <div class="features-content" data-aos="zoom-in-down" data-aos-offset="100">
                    <div class="icon d-block fas fa-cogs"></div>
                    <h3 class="display-3-title mt-1">Menu Management</h3>
                    <p class="lh-lg">
                        You can easily add, edit or remove categories and items of your digital menu. Also can change the visibility of a dish, beverage or category with just one click and have an always updated menu and thus avoid the bad taste of a customer who orders elements
                        that are not available from the menu
                    </p>
                    <!-- <a href="" class="btn btn-link">See how it works</a> -->
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 features mt-4 text-end">
                <div class="features-pic">
                    <img src="../../../assets/images/menu_management2.svg" style="max-width: 500px;" alt="marketing illustration" class="img-fluid">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 features mt-4 text-start">
                <div class="features-pic" style="display: flex; justify-content: center;">
                    <img src="../../../assets/images/1645585560762.jpg" style="max-height: 400px;" alt="web development" class="img-fluid">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 features mt-4 order-first order-sm-last">
                <div class="features-content" data-aos="zoom-in-down" data-aos-offset="100">
                    <div class="icon d-block fas fa-qrcode"></div>
                    <h3 class="display-3-title mt-1">QR Generator</h3>
                    <p class="lh-lg">
                        With this app you can generate a print-ready QR image for your tables, so your customers can quickly access your online digital menu.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 features mt-4">
                <div class="features-content" data-aos="zoom-in-down" data-aos-offset="100">
                    <div class="icon d-block fas fa fa-paint-brush"></div>
                    <h3 class="display-3-title mt-1">Web menu style</h3>
                    <p class="lh-lg">
                        Your menu will be displayed through a website that can be customized by selecting the style you most like or fits your restaurant, coffee shop or bar. All the styles are fully resposnive so they adapt to the screens of the client's devices, so any client
                        can access and correctly display your menu on any of their devices
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 features mt-4 text-end">
                <div class="features-pic">
                    <img src="../../../assets/images/89928.jpg" alt="cloud hosting" class="img-fluid">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 features mt-4 text-start">
                <div class="features-pic">
                    <img src="../../../assets/images/manage_reservations.jpg" alt="web development" class="img-fluid rounded-corners">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 features mt-4 order-first order-sm-last">
                <div class="features-content" data-aos="zoom-in-down" data-aos-offset="100">
                    <div class="icon d-block fas fa-book"></div>
                    <h3 class="display-3-title mt-1">Manage Reservations</h3>
                    <p class="lh-lg">
                        Get reservations from your customers in your online digital menu and manage them. You can specify the reservation configurations in the app, such as working days, max numbers of dinners, etc.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>