<section id="demo" class="demo">
    <div class="container">
        <div class="row text-center">
            <h1 class="display-3 fw-bold mb-3 mt-3">Demo</h1>
            <div class="heading-line mb-1"></div>
            <p class="lh-lg">Scan this QR code to see an example of restaurant digital menu managed with our App.</p>
            <img src="assets/images/qr-code.webp" class="img-thumbnail rounded mx-auto d-block mt-3" alt="..." loading="lazy">
            <div class="mt-5">
                <a href="https://preview4.menucodi.com" target="_blank" rel="noopener noreferrer" class="btn btn-success">Test it on web</a>
            </div>
        </div>
    </div>
</section>