<section id="demo" class="demo">
    <div class="container">
        <div class="row text-center">
            <h1 class="display-3 fw-bold mb-3 mt-3">Demo</h1>
            <div class="heading-line mb-1"></div>
            <p class="lh-lg">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi fuga mollitia expedita.</p>

            <img src="assets/images/qr.png" class="img-thumbnail rounded mx-auto d-block mt-3" alt="...">
            <div class="mt-5">
                <a href="" class="btn btn-outline-success">Test it on web</a>
            </div>
            <!-- <div>
                <ng-lottie 
                containerClass="moving-box"
                [options]="options" 
                [styles]="styles"
                (animationCreated)="animationCreated($event)">
            </ng-lottie>
            </div> -->
        </div>
    </div>
</section>