<section class="pricing pricing-padding mb-5">
    <div class="container">
        <div class="row  justify-content-center text-center">
            <h1 class="display-3 fw-bold mb-3 mt-3 text-white">Get it now</h1>
            <p class="mb-5 text-white ">Some text here to explain something about the prices</p>
            <div class="row text-start">
                <div class="col-lg-4 col-md-6 mb-3">
                    <div class="pricing-plan">
                        <div class="pricing-header">
                            <h3>basic</h3>   
                        </div>
                        <div class="pricing-price">
                            <span class="currency">$</span>
                            <span class="price">99</span>
                            <span class="period">/monthly</span>
                        </div>
                        <div class="pricing-body">
                            <ul>
                                <li><i class="fas fa-check"></i> Service 1 </li>
                                <li><i class="fas fa-check"></i> Service 2 </li>
                                <li><i class="fas fa-check"></i> Service 3 </li>
                                <li><i class="fas fa-check"></i> Service 4 </li>
                                <li><i class="fas fa-check"></i> Service 5 </li>
                            </ul>
                        </div>
                        <div class="pricing-footer">
                            <a href="" class="btn btn-outline-success">Get it now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-3">
                    <div class="pricing-plan">
                        <div class="pricing-header">
                            <h3>premium</h3>   
                        </div>
                        <div class="pricing-price">
                            <span class="currency">$</span>
                            <span class="price">149</span>
                            <span class="period">/monthly</span>
                        </div>
                        <div class="pricing-body">
                            <ul>
                                <li><i class="fas fa-check"></i> Service 1 </li>
                                <li><i class="fas fa-check"></i> Service 2 </li>
                                <li><i class="fas fa-check"></i> Service 3 </li>
                                <li><i class="fas fa-check"></i> Service 4 </li>
                                <li><i class="fas fa-check"></i> Service 5 </li>
                            </ul>
                        </div>
                        <div class="pricing-footer">
                            <a href="" class="btn btn-outline-success">Get it now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-3">
                    <div class="pricing-plan">
                        <div class="pricing-header">
                            <h3>Ultimate</h3>   
                        </div>
                        <div class="pricing-price">
                            <span class="currency">$</span>
                            <span class="price">199</span>
                            <span class="period">/monthly</span>
                        </div>
                        <div class="pricing-body">
                            <ul>
                                <li><i class="fas fa-check"></i> Service 1 </li>
                                <li><i class="fas fa-check"></i> Service 2 </li>
                                <li><i class="fas fa-check"></i> Service 3 </li>
                                <li><i class="fas fa-check"></i> Service 4 </li>
                                <li><i class="fas fa-check"></i> Service 5 </li>
                            </ul>
                        </div>
                        <div class="pricing-footer">
                            <a href="" class="btn btn-outline-success">Get it now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>