<section id="pricing">
    <div class="container">
        <div class="row text-center">
            <h1 class="fw-bold mb-3 mt-5">Get it now</h1>
            <div class="heading-line mb-5"></div>
            <div class="col-md-4 col-sm-6 mb-5">
                <div class="pricingTable">
                    <div class="pricingTable-header">
                        <h3 class="title">Standard</h3>
                    </div>
                    <div class="price-value">
                        <span>$10</span>
                    </div>
                    <ul class="pricing-content">
                        <li>50GB Disk Space</li>
                        <li>50 Email Accounts</li>
                        <li>50GB Bandwidth</li>
                        <li>Maintenance</li>
                        <li>15 Subdomains</li>
                    </ul>
                    <div class="pricingTable-signup">
                        <a href="#">Download</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mb-5">
                <div class="pricingTable blue">
                    <div class="pricingTable-header">
                        <h3 class="title">Business</h3>
                    </div>
                    <div class="price-value">
                        <span>$20</span>
                    </div>
                    <ul class="pricing-content">
                        <li>50GB Disk Space</li>
                        <li>50 Email Accounts</li>
                        <li>50GB Bandwidth</li>
                        <li>Maintenance</li>
                        <li>15 Subdomains</li>
                    </ul>
                    <div class="pricingTable-signup">
                        <a href="#">Download</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mb-5">
                <div class="pricingTable dark">
                    <div class="pricingTable-header">
                        <h3 class="title">Premium</h3>
                    </div>
                    <div class="price-value">
                        <span>$10</span>
                    </div>
                    <ul class="pricing-content">
                        <li>50GB Disk Space</li>
                        <li>50 Email Accounts</li>
                        <li>50GB Bandwidth</li>
                        <li>Maintenance</li>
                        <li>15 Subdomains</li>
                    </ul>
                    <div class="pricingTable-signup">
                        <a href="#">Download</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>