<section class="pricing pricing-padding" id="pricing">
    <div class="container">
        <div class="row  justify-content-center text-center">
            <h1 class="display-3 fw-bold mb-3 mt-3 text-white">Download it now</h1>
            <p class="mb-5 text-white ">Some text here to explain something about the prices</p>
            <div class="row text-start">
                <div class="col-lg-6 col-md-4 mb-3 ">
                    <div class="pricing-plan">
                        <div class="pricing-header">
                            <h3>Free</h3>
                        </div>
                        <div class="pricing-price">
                            <span class="currency">$</span>
                            <span class="price">0</span>
                            <span class="period">/monthly</span>
                        </div>
                        <div class="pricing-body">
                            <ul>
                                <li><i class="fas fa-check"></i> Manage up to 6 categories </li>
                                <li><i class="fas fa-check"></i> 5 elements per categorie </li>
                                <li><i class="fas fa-check"></i> Only 8 elements with images </li>
                                <li><i class="fas fa-check"></i> Unlimited reservations </li>
                                <li><i class="fas fa-check"></i> Get customers feedbacks </li>
                                <li><i class="fas fa-check"></i> Non intrusive Ads </li>

                            </ul>
                        </div>
                        <div class="pricing-footer">
                            <a href="https://play.google.com/store/apps/details?id=com.codi.digitalmenu" class="btn btn-outline-success">Download app</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-4 mb-3">
                    <div class="pricing-plan">
                        <div class="pricing-header">
                            <h3>premium</h3>
                        </div>
                        <div class="pricing-price">
                            <span class="currency">$</span>
                            <span class="price">5.99</span>
                            <span class="period">/monthly</span>
                        </div>
                        <div class="pricing-body">
                            <ul>
                                <li><i class="fas fa-check"></i> Unlimited categories </li>
                                <li><i class="fas fa-check"></i> Unlimited elements </li>
                                <li><i class="fas fa-check"></i> Unlimited elements with images </li>
                                <li><i class="fas fa-check"></i> Manage up to 3 business in same app </li>
                                <li><i class="fas fa-check"></i> Get email subscriptions from customers </li>
                                <li><i class="fas fa-check"></i> Without Ads </li>
                            </ul>
                        </div>
                        <div class="pricing-footer">
                            <a href="https://play.google.com/store/apps/details?id=com.codi.digitalmenu" class="btn btn-outline-success">Download app</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>