.btn-2 {
    background-color: #66CC98;
    padding: 12px 30px;
    color: #ffffff;
    font-size: 16px;
    text-transform: capitalize;
    transition: all 0.5s ease;
    font-weight: 500;
}

.btn-2:focus {}

.pricing {
    background-color: #66CC98;
    padding: 30px;
    &-plan {
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
        background-color: #ffffff;
        border-radius: 10px;
    }
    &-header {
        padding: 20px 30px;
        h3 {
            text-align: center;
            font-size: 30px;
            color: #000000;
            font-weight: 500;
            text-transform: capitalize;
            margin: 0;
        }
    }
    &-price {
        padding: 40px 30px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
        display: flex;
        justify-content: center;
        line-height: 0.7;
        .currency {
            font-size: 16px;
            font-weight: 300;
            color: #555555;
            margin-right: 5px;
            align-self: flex-start;
        }
        .price {
            font-size: 80px;
            font-weight: 700;
            color: #66CC98;
        }
        .period {
            font-size: 14px;
            font-weight: 300;
            color: #555555;
            margin-right: 5px;
            align-self: flex-end;
            text-transform: uppercase;
        }
    }
    &-body {
        padding: 0 30px;
        ul {
            list-style: none;
            li {
                font-size: 16px;
                font-weight: 300;
                color: #555555;
                padding: 0px 0 10px 30px;
                // border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                line-height: 26px;
                position: relative;
                i {
                    color: #66CC98;
                    position: absolute;
                    left: 0;
                    top: 12px;
                }
            }
            li:last-child {
                border-bottom: none;
            }
        }
    }
    &-footer {
        padding: 20px 30px 30px;
        text-align: center;
    }
}