<section id="faq" class="faq">
    <div class="container">
        <div class="row text-center">
            <h1 class="display-3 fw-bold mb-3 mt-3 text-uppercase">faq</h1>
            <div class="heading-line"></div>
            <p class="lead">
                frequently asked questions
            </p>
        </div>
        <div class="row mt-5 mb-5">
            <div class="col-md-12">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item shadow mb-3">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          Can i use the app for free?
                        </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong>Absolutely!</strong> You can use the app for free indefinitely with all the basic functions. If you are a small business that just starting that's another monthly bill that you don't have to worry about.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item shadow mb-3">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          What includes the free plan?
                        </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                With the free plan you can take your business into the digital world having an online menu, reaching more clients trough internet, manage up to 6 categories and a total of 5 elements per category, up to 8 elements with images, get unlimited reservations
                                on your business, QR generator, basic menu styles and receive customers feedbacks
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item shadow mb-3">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                          What includes the premium plan?
                        </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong>The same of free plan</strong> plus unlimited categories and products, unlimited elements with images, access to all QR templates, dull access to all digital menus web styles, no ads in the app and web menu, receive
                                client email subscriptions to improve email marketing.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item shadow mb-3">
                        <h2 class="accordion-header" id="headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                          How premium plan it's billed?
                        </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                The premium plan it's available by the mean of subscriptions billed monthly or annually as your preference. All the purchase its made through Google Play Store. So you don't need to provide us any credit card or financial information. It's possible that
                                google requires you to add a payment method but is complete safe.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item shadow mb-3">
                        <h2 class="accordion-header" id="headingFive">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                         Can i cancel my subscription any time?
                        </button>
                        </h2>
                        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Sure, you can stop, cancel or resume your subscription any time in Google Play Subscriptions. When you stop or cancel your subscription it will be available until the last time you pay for.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>